body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background-color: dimgray;
}
@media (min-width: 540px) {
    body {
      font: 3px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
   }
}

@media (min-width: 768px) {
    body {
      font: 6px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
      margin: 0em;
   }
}

@media (min-width: 992px) {
    body {
   font: 11px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
    }
}

@media (min-width: 1200px) {
    body {
    font: 16px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}

}
a{
    text-decoration: none;
    color: wheat;
}
a:hover{
    color: rgb(145, 146, 134);
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    background-color: dimgray;
}
#h11{
    margin-left: 20em;
    color: wheat;
}

.fk{
    width: 80em;
    margin-left: 12em;
    margin-top: 4em;
    margin-bottom: 4em;
    height: 2em;
}

.photo1{
    width: 100%;
    height: 60.7em;
    margin-bottom: 3em;
}

#bq1{
    font-size: 2.3em;
    font-weight: bold;
    color: antiquewhite;
    margin-left: 5em;
    margin-right: 5em;
    text-align: left;
}
.box11{
    color: antiquewhite;

}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}
.box3{
    display: flex;
    flex-direction: column;
    margin-right: 10em;
}
#photo3{
    width: 45em;
}
#sc{
    background-color: black;
    height: 10em;
    width: 100%;
    position: relative; 
    bottom: 0;
}
#sc1{
    background-color: black;
    margin-left: 20em;
    width: 55%;

}
ul{
    list-style: none;
    color: white;
}